<h2>Search for Staff</h2>
<form action="/staff" method="GET">
    <div class="position-relative">
        <h5><label for="name"> Name</label></h5>
    </div>

    <input type="text" name="name" class="form-control" type="file" placeholder="Type to search for Staff Member"><br>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Search</button>


</form>

{{#each staff}}
<div class="p-2 mb-1 bg-dark text-dark">
    <li class=" list-group-item">{{@index}}:{{this}}</li>
</div>

<form method="POST" action="{{this}}">
    <div class="d-flex align-items-start">
        <button type="submit" class="btn-warning" style="width: 80px">View</button>
        <button type="submit" class="btn-warning" style="width: 80px">Edit</button>
        <button type="submit" class="btn-warning" style="width: 80px">Delete</button>
    </div>

</form>
<br>
{{/each}}