<h2>New Staff</h2>
<form action="/staff" method="POST">
    <div class="vh-100">
        <div class="form-row">
            <div class="form-item">
                <label for="name"> Name</label>
                <input type="text" name="name" class="input-group-text">
                <br>
                <label for="name"> Address</label>
                <input type="text" name="address" class="form-control"><br>
                <label for="name"> Email</label>
                <input type="text" name="email" class="form-control"><br>

                <a href="/staff" class="btn btn-primary btn-block">Cancel</a>
                <button type="submit" class="btn btn-success btn-block">Create</button>

            </div>

        </div>

    </div>

</form>